---
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <head>
    <title>
      Home
    </title>
  </head>
  <h1>
    Welcome Home c:
  </h1>
  <h3>
    Here you can find (not) much information!
  </h3>
  <a href="https://www.youtube.com/shorts/s7vq4WfnC7M" target="_blank" class="modelbutton">Random meme</a>
</Layout>