---
import Layout from '../layouts/Layout.astro';
---
<!DOCTYPE html>
<Layout>
    <head>
        <title>
            3D Models
        </title>
        <h1>
            3D Model Libary
        </h1>
        <table>
            <tr>
                <th><mark>Model Name</mark></th>
                <th><mark>Description</mark></th>
            </tr>
            <tr>
                <th>Raspberry Pi 4 Model B Pc Case</th>
                <th>It's a case for your raspberry pi 4b with a stunning look!</th>
                <th><a href="https://makerworld.com/de/models/942735" target="_blank" class="modelbutton">Go to Model</a></th>
            </tr>
            <tr>
                <th>Raspbery Pi 4 Model B (Replica)</th>
                <th>This model is only for making stuff like cases<br> (not made for printing it)</th>
                <th><a href="https://makerworld.com/de/models/941467" target="_blank" class="modelbutton">Go to Model</a></th>
            </tr>
            <tr>
                <th>Low Poly Skull with steam outlet</th>
                <th>this is a Skull with an outlet for steam!<br> Its good if you have a fog machine and using it for Hallooween</th>
                <th><a href="https://makerworld.com/de/models/749854" target="_blank" class="modelbutton">Go to Model</a></th>
            </tr>
            <tr>
                <th>Guitarplectrum</th>
                <th>I made this for reference because of my IT teacher :-P</th>
                <th><a href="https://makerworld.com/de/models/713263" target="_blank" class="modelbutton">Go to Model</a></th>
            </tr>
        </table>
    </body>
</Layout>